<section class="py-5 bg-light">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <h1 class="text-center mb-4">About Gourmet Chronicles</h1>
          <p class="text-center mb-5">Your ultimate destination for exploring mouth-watering recipes from around the world. Discover the stories behind the dishes that inspire us to cook and share with loved ones.</p>
          
          <div class="row gx-5">
            <div class="col-md-6">
              <img src="img/about_img/ice_cream_image.jpg" class="img-fluid mb-3" alt="Delicious ice cream">
            </div>
            <div class="col-md-6">
              <img src="img/about_img/grilled_cheese_image.jpg" class="img-fluid mb-3" alt="Tasty grilled cheese">
            </div>
          </div>
          
          <p class="mt-4">At Gourmet Chronicles, we believe that cooking is an art and every meal is a celebration of life. Our passion is to bring you the best recipes that are not only delectable but also easy to prepare. Join us on this flavorful journey and be a part of our culinary adventures!</p>
        </div>
      </div>
    </div>
  </section>
  