

<section class="py-5 bg-light">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Contact</li>
      </ol>
    </nav>

    <div class="text-center mb-5">
      <h1>Prakhar Kandpal</h1>
      <p class="lead">An avid learner.</p>
    </div>

    <div class="row justify-content-center mb-5">
      <div class="col-md-8">
        <h2>About Myself</h2>
        <p>Currently in my 4th year of graduation from VIT Vellore and doing a Computer Science and engineering majors, I aim to provide easy solutions for complex problems.</p>
        <p>Feel free to connect with me on these platforms and ping me whenever needed!</p>

        <div class="my-4 d-flex justify-content-center">
          <a href="mailto:kandpalprakhar1903@gmail.com" class="btn btn-primary mx-2" role="button"><i class="bi bi-envelope-fill"></i> Email</a>
          <a href="https://github.com/kandpalpk" target="_blank" class="btn btn-dark mx-2" role="button"><i class="bi bi-github"></i> GitHub</a>
          <a href="https://www.linkedin.com/in/prakhar-kandpal-574516203/" target="_blank" class="btn btn-info mx-2" role="button"><i class="bi bi-linkedin"></i> LinkedIn</a>
        </div>
      </div>
    </div>
  </div>
</section>


